.container{
    padding: 5px 10px;
    margin-top: 10px;
}

.header_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_btn ul {
    display: flex;
}
.container_btn ul li {
    margin-right: 10px;
}