.form_container {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}
.btn_box {
  display: flex;
  justify-content: center;
}
form {
  max-width: 500px;
}
.message{
  width: 500px;
  border:3px solid green;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
